@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: 'Raleway', sans-serif !important; }

h1, h2, h3, h4 {
  font-weight: 100 !important;
  text-transform: none !important; }

.header .header-logo-text {
  display: none; }

.header .tagline p {
  display: none; }

.header .navbar-default .navbar-nav > .active > a, .header .navbar-default .navbar-nav > .active > a:focus, .header .navbar-default .navbar-nav > .active > a:hover {
  background-color: #f8f8f8; }

.header .navbar-default .navbar-nav > .active, .header .navbar-default .navbar-nav > .active:focus, .header .navbar-default .navbar-nav > .active:hover {
  border-bottom: 3px solid #536976; }

.entry-title {
  display: none; }

.footer {
  color: #fff;
  font-weight: 100;
  text-align: center;
  background: #BBD2C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #536976, #BBD2C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #536976, #BBD2C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .footer .credit {
    display: none; }
  .footer a {
    color: #fff;
    text-decoration: underline; }
    .footer a:hover {
      color: #536976; }
  .footer span {
    padding: 0 2rem; }

.home-page {
  padding-top: 3rem; }
  .home-page p {
    font-size: 24px; }
  .home-page ul li {
    font-size: 18px; }

.bio {
  padding: 2rem 0; }
  .bio .bioImg {
    max-width: 25vw;
    border-right: 10px solid #536976; }
  .bio h3, .bio h1 {
    text-transform: none;
    font-size: 2rem;
    color: #536976;
    font-weight: 100; }
  .bio h1 {
    font-size: 4.5rem;
    text-align: center; }
  .bio .skills {
    margin-top: 6rem; }
  .bio .skill {
    text-align: center; }
  .bio i {
    font-size: 6rem;
    color: #536976; }

.gallery li {
  display: inline; }
  .gallery li a:hover {
    text-decoration: none; }
  .gallery li img {
    margin: 1rem;
    border: 1px solid #BBD2C5; }

.ux-work-teaser {
  height: 300px;
  overflow: hidden;
  text-align: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0 !important;
  border: 1px solid #BBD2C5; }
  .ux-work-teaser h2 {
    opacity: 0;
    text-align: center;
    color: #fff;
    position: relative;
    top: 3rem;
    transition: .5s; }
  .ux-work-teaser .work-img-container {
    height: 250px;
    overflow: hidden; }
  .ux-work-teaser .work-btn {
    position: relative;
    top: 30vh;
    transition: .25s;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff; }
    .ux-work-teaser .work-btn:hover, .ux-work-teaser .work-btn:focus, .ux-work-teaser .work-btn:active {
      background-color: #fff;
      color: #536976; }

.work-hover {
  transition: .5s; }
  .work-hover h2 {
    opacity: 1;
    transition: .75s;
    z-index: 2; }
  .work-hover:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000;
    opacity: .7;
    width: 350px;
    margin: 0 15px; }
  .work-hover .work-btn {
    top: 12vh; }

.arcadia-bev, .petlocity-app, .repay {
  background-size: contain !important; }

.architecture-wireframes {
  background-size: 125% !important; }

.code-work-teaser-img {
  height: 25vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 0 !important; }

@media only screen and (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; } }
