@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4 {
    font-weight: 100 !important;
    text-transform: none !important;
}

.header {

    .header-logo-text {
        display: none;
    }

    .tagline p {
        display: none;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgb(248, 248, 248);
    }

    .navbar-default .navbar-nav>.active, .navbar-default .navbar-nav>.active:focus, .navbar-default .navbar-nav>.active:hover {
        border-bottom: 3px solid #536976;
    }
}

.entry-title {
    display: none;
}

.footer {
    color: #fff;
    font-weight: 100;
    text-align: center;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .credit {
        display: none;
    }

    a {
        color: #fff;
        text-decoration: underline;

        &:hover {
            color: #536976;
        }
    }

    span {
        padding: 0 2rem;
    }
}


// Bio Styles

.home-page {
    padding-top: 3rem;

    p {
        font-size: 24px;
    }

    ul li {
        font-size: 18px;
    }
}

.bio {
    padding: 2rem 0;

    .bioImg {
        max-width: 25vw;
        border-right: 10px solid #536976;
    }

    h3, h1 {
        text-transform: none;
        font-size: 2rem;
        color: #536976;
        font-weight: 100;
    }

    h1 {
        font-size: 4.5rem;
        text-align: center;
    }

    .skills {
        margin-top: 6rem;
    }

    .skill {
        text-align: center;
    }

    i {
        font-size: 6rem;
        color: #536976;
    }
}

.gallery {

    li {
        display: inline;

        a:hover {
            text-decoration: none;
        }

        img {
            margin: 1rem;
            border: 1px solid #BBD2C5;
        }
    }
}

.ux-work-teaser {
    height: 300px;
    overflow: hidden;
    text-align: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 0 !important;
    border: 1px solid #BBD2C5;

    h2 {
        opacity: 0;
        text-align: center;
        color: #fff;
        position: relative;
        top: 3rem;
        transition: .5s;
    }

    .work-img-container {
        height: 250px;
        overflow: hidden;
    }

    .work-btn {
        position: relative;
        top: 30vh;
        transition: .25s;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;

        &:hover, &:focus, &:active {
            background-color: #fff;
            color: #536976;
        }
    }
}

.work-hover {
    transition: .5s;

    h2 {
        opacity: 1;
        transition: .75s;
        z-index: 2;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #000;
        opacity: .7;
        width: 350px;
        margin: 0 15px;
    }

    .work-btn {
        top: 12vh;
    }
}

.arcadia-bev, .petlocity-app, .repay {
    background-size: contain !important; 
}

.architecture-wireframes { // Flex
    background-size: 125% !important;
}

.code-work-teaser-img {
    height: 25vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 0 !important;
}


@media only screen and (min-width: 992px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:  flex;
        margin-bottom: 30px;
      }
}
